<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-row *ngIf="loading">
    <ion-spinner name="bubbles" color="white"></ion-spinner>
  </ion-row>
  <ion-row class="movies-page-header" *ngIf="currentMovies?.length && !loading">
    <ion-text>{{activeList === 'current' ? 
      'Current movies playing' : 'Most popular movies'}}
    </ion-text>
    <ion-button *ngIf="activeList === 'current'" (click)="getPopularMovies()">Popular movies</ion-button>
    <ion-button *ngIf="activeList === 'popular'" (click)="getPopularMovies()">Current movies</ion-button>
    <ion-button (click)="refreshMovies()">Refresh</ion-button>
    <ion-button (click)="logOut()">Log out</ion-button>
  </ion-row>

  <ion-row>
    <ion-col>
      <div *ngIf="currentMovies?.length && !loading" class="movies-list-container">
        <ng-container>
          <ion-grid>
            <ion-row>
              <ion-col sizeLg="3" sizeMd="4" sizeXs="6" *ngFor="let movie of currentMovies; let i = index">
                <app-movie-card
                  [movieInfo]="movie"
                  (movieClicked)="visitMovieDetail($event)"
                  >
                </app-movie-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
      </div>

      <div *ngIf="!currentMovies.length && !loading">
        <ion-item>
          No movies were found. Please try again later.
        </ion-item>
      </div>
    </ion-col>
  </ion-row>
</ion-content>