@import '../../../theme/variables.scss';
@import '../../../theme/mixins.scss';


.standard-form-container {
  position: relative;
  width: 100%;
  height: 100%;
  .form-header-items, .form-error-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    .form-header {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 8px;
    }
  }
  .standard-form-container > ion-col {
    position: relative;
  }
  .form-error-items > span {
    color: var(--ion-color-danger-shade);
  }
  .standard-form-items {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    form {
      width: 500px;
      .input-spacer {
        width: 100%;
        margin-bottom: 32px;
        .input-inner {
          width: 100%;
          height: 44px;
          background: var(--ion-color-mediumgrey);
          border-radius: 2px;
          position: relative;
          .standard-input {
            width: 100%;
            height: 100%;
            background: var(--ion-color-mediumgrey);
            color: var(--form-default-text);
            border-radius: 2px;
            border: 2px solid var(--form-grey-text);
            --padding-start: 10px;
            input {
              font-weight: 500;
              line-height: 21.6px;
              color: var(--form-default-text);
              &.native-input {
                --padding-start: 10px;
                --padding-end: 10px;
                --padding-top: 28px;
                height: 100%;
              }
            }
            input:focus {
              border: 2px solid var(--form-input-border);
              border-radius: 2px;
            } 
          }
        }
      }
      .input-spacer:last-of-type {
        margin-bottom: 56px;
      }
      .primary-btn {
        width: calc(100% - 24px);
        margin-left: 12px;
        margin-right: 12px;
        height: 40px;
        border-radius: 2px;
        background: var(--button-primary);
        font-size: 16px;
      }
      
      .primary-btn-disabled {
        @extend .primary-btn;
        background: var(--button-primary-disabled);
      }
    }
  }
  .create-form-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 40px;
    div {
      width: 100%;
      text-align: center;
    }
  }
}

.form-error-msg {
  color: var(--form-error-boxtint);
}
.input-valid {
  border: 1px solid var(--form-success-boxtint);
}

.input-error {
  border: 2px solid var(--form-error-boxtint);
  border-radius: 2px;
}

.item-interactive.ion-valid,
.item-interactive.ion-invalid {
  --highlight-background: transparent;
}
