<ion-content [fullscreen]="true">
  <ion-row class="standard-form-container">
    <ion-col>
      <ion-item>
        <div class="form-header-items">
          <ion-text class="centered-text default-text form-header">The Movie DB</ion-text>
          <span>{{ useCredentials ? 'Log in with your newly created user' : 'Log in to view the latest movies in theaters'}}</span>
        </div>
      </ion-item>
      <ion-row class="standard-form-items">
        <form
        [formGroup]="loginForm"
        (submit)="onLogin()">
        <ion-item class="input-spacer">
          <div class="input-inner"
            [ngClass]="{'input-valid': emailControl.valid}">
            <ion-input class="standard-input" type="text" name="email" formControlName="email"
              placeholder="E-mail"
              [ngClass]="{'input-error': emailControl.invalid && emailControl.dirty}"
              (keydown)="onKeydown($event)">
            </ion-input>
          </div>
        </ion-item>

        <ion-item class="input-spacer">
          <div class="input-inner"
            [ngClass]="{'input-valid': passwordControl.valid}">
            <ion-input class="standard-input" type="password" name="password" formControlName="password"
              placeholder="password"
              [ngClass]="{'input-error': passwordControl.invalid && passwordControl.dirty}"
              (keydown)="onKeydown($event)">
            </ion-input>
          </div>
        </ion-item>

        <button
          class="primary-btn"
          [disabled]="!loginForm.valid"
          [ngClass]="{'primary-btn-disabled': !loginForm.valid}">
          <ion-text>Login</ion-text>
        </button>

        </form>
      </ion-row>
      <ion-item *ngIf="formError">
        <div class="form-error-items">
          <span>Incorrect email or password</span>
        </div>
      </ion-item>

      <ion-item class="create-form-link" (click)="openSignupModal()">
        <div>
          <ion-text>Don't have an account? Sign up!</ion-text>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
