<ion-header>
  <ion-toolbar class="toolbar-general modal-header">
    <ion-item slot="start" class="modal-buttons">
      <button class="dismiss-button" (click)="onModalClose()">
        <ion-icon name="close-outline"></ion-icon>
      </button> 
    </ion-item>
    <ion-item class="modal-header-text">
      <ion-text>{{data.movieData.title}}</ion-text>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-container">
  <ion-row class="modal-content">
    <img loading="lazy" src="{{moviePoster}}">
  </ion-row>
</ion-content>

