.modal-header {
  --background: var(--ion-color-primary-tint);
  height: 64px;
  --min-height: 64px;
  .modal-buttons {
    .dismiss-button {
      height: 32px;
      width: 32px;
      border-radius: 25px;
      margin-left: 12px;
      padding-left: 5px;
      ion-icon {
        font-size: 22px;
      }
    }
  }
  .modal-header-text {
    margin-left: 28px;
    color: white;
    font-size: 24px;
    ion-text {
      &.movie-release-date {
        font-size: 16px;
        margin-left: 20px;
      }
    }
  }
}
.modal-container {
  width: 100%;
  height: 100%;
  --min-width: 100%;
  --min-height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  .modal-content {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    width: calc(100% - 60px);
    height: 100%;
    ion-col {
      display: flex;
      .poster-container {
        width: 350px;
        img {
          max-width: 350px;
        }
      }
      .movie-info-container {
        width: calc(100% - 300px);
        h3 {
          margin-left: 16px;
          &.movie.title {
            margin-top: 0;
          }
        }
        p {
          margin-inline-start: 16px;
          margin-inline-end: 4px;
        }
        .cast-section-head {
          font-weight: 600;
          margin-left: 16px;
        }
        .cast-section-container {
          display: flex;
          margin-top: 10px;
          margin-left: 16px;
          .cast-member {
            width: 120px;
            .cast-member-photo {
              height: 100px;
              width: 80px;
              img {
                max-height: 100px;
                border-radius: 4px;
              }
            }
            .cast-member-name {
              ont-size: 12px;
            }
          }
        }
      }
    }
  }
  ion-text {
    width: 100%;
    text-align: center;
  }
}

.modal-container::part(background) {
  opacity: 0.2 !important;
}
